*.php linguist-language=PHP
*.js linguist-language=JavaScript
*.css linguist-language=CSS
*.json linguist-language=JSON
*.txt linguist-language=Text
*.md linguist-language=Markdown
*.sql linguist-detectable=true
*.sql linguist-language=sql
*.sh linguist-detectable=true
